*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #121e31;
}
.imp{
    color: red;
}
.btn{
    padding: 5px 20px;
    background-color: #121e31;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}
.btn:hover{
    
    background-color: grey;
}
a{
    text-decoration: none;
   
}
.signin{
    background-color: white;
    width: 25%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-weight: bold;
}
.txt{
    width: 98%;
}

h1{
    text-align: center;
    font-weight:bold; 
}